<title>Cadastro</title>
<link rel="stylesheet" href="/css/style.css">
<section id="cadastro">

    <img src="https://tm.ibxk.com.br/2016/03/24/24094820799500.jpg">
    <div>
      
            <h2>Adicione um novo anime!</h2>
            <form action="/create" method="POST">
                <label for="nome">Nome:</label> 
                <input type="text" required id="nome" name="nome">
                <label for="sinopse">Sinopse:</label>
                <input type="text" required id="sinopse" name="sinopse">
                <label for="genero">Genero:</label>
                <input type="text" required id="genero" name="genero">
                <label for="imagem">Link da Imagem</label>
                <input type="text" required id="imagem" name="imagem">
                <button id="btnCadastrar" type="submit">Cadastrar</button>
            </form>
           
    </div>

    
</section>